

  
  .overlay-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top:20%;
    background-color: gold; /* Adjust the background color and opacity as desired */
    display: block; /* Initially hide the overlay mask */
  }
  

.fun{
  width: 100%;
  height:87vh;
}


.mask{
    opacity: 0;
    background: rgba(84,89,95,0.7);
    transition: 5s;
  }


.mask-label{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:11%
}

  .swiper{
    width: 80vw;
  }

  .text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -70vh;
  }


  .icons{
    fill:aqua;
  }

  .icons:hover{
    transition-delay: .5s;
    fill: rgb(216, 23, 216) !important;
    cursor:pointer;

  }

  #cert{
    font-size: 4.5rem !important;
    font-family: 'Poppins' !important;
    font-weight: bold !important;
    text-align: left !important;
 }

.modal-content{
  height: 94vh;
}


  .obj{
    width: 100%;
    height: 71vh;
  }

  .modal-xl{
    height: 100%;
  }

  object img{
    width: 100%;
    height: 100% !important;
    object-fit:cover ;
  }

  .button {
    background-color: rgb(221, 13, 248);  
    color: white;
    text-decoration: none;
  }
  
  .button:focus,
  .button:hover {
    background-color: rgb(195, 9, 219);
    color: White;
  }


@media screen and (max-width:568px) {
  .swiper{
    width:100%;
    height: 100%;
  }
  .fun{
    width: 100%;
    height: 50vh;
  }

  .text{
    margin-top: -50%;
  }

  .modal-content{
    height: 80vh;
  }


  .modal{
    margin-top: 20px;
  }

  .obj{
    height: 100%;
  }

  .pdfHolder{
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width:569px) and (max-width:800px) {
  .swiper{
    width:100%;
    height: 100%;
  }
  .fun{
    width: 100%;
    height: 73vh;
  }

  .text{
    margin-top: -60%;
  }

  .icons{
    margin-top: 10%;
  }

  .modal-content{
    height: 82vh;
  }

  .modal{
    margin-top: 20px;
  }

  .obj{
    height: 100%;
  }
  .pdfHolder{
    height: 100%;
    width: 100%;
  }
}


