

.con{
   justify-content:center;
   text-align: center;
   justify-items: center; 
   margin-bottom: 50px;
}

.skillsCont{
   justify-content: center;
   padding-bottom: 50px;
}

#skill{
   font-size: 4.5rem !important;
   font-family: 'Poppins' !important;
   font-weight: bold !important;
   text-align: left !important;
}

.tech-icons{
   border: 1.7px solid rgba(200,137,230,.637)!important;
    border-radius: 5px!important;
    box-shadow: 4px 5px 4px 3px rgba(89,4,168,.137)!important;
    font-size: 4.5em!important;
    margin: 15px!important;
    opacity: .93!important;
    overflow: hidden!important;
    padding: 10px!important;
    text-align: center!important;
    transition: all .4s ease 0s transform background-color transition !important;
    vertical-align: middle!important;
}

.tech-icons:hover{
   transform:scale(1.1);
   background-color: #db06b1;
   transition: .7s;
   
}

@keyframes iconHover {
   0% {transform:scale(0)}
   100% {
      transform:scale(1.1);
      background-color: #db06b1;
   }
}

.col-sm-4 .btn-hover{
   width:90%
}

@media only screen and (max-width:568px) {
   .con{
      justify-content:center;
      text-align: center;
      justify-items: center; 
   }
   .col-small{
      width:100%
   }

}

.buttons {
   text-align: center;

}


.btn-hover {
   text-transform: uppercase;
   width: 50%;
   font-size: 1.2rem;
   font-weight: 600;
   color: #fff;
   cursor: pointer;
   margin: 20px;
   height: 55px;
   text-align:center;
   border: none;
   background-size: 300% 100%;
   border-radius: 9px;
   /* moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out; */
}

.btn-hover:hover {
   background-position: 100% 0;
   moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;

}

.btn-hover:focus {
   border: 3px solid;
   border-color: white;
   transform: scaleX(1.08);
   outline: none;
}

.btn-hover.color-9 {
   background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
   box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);

}
.fade-in {
   transform: translateX(-100%);
   transition: transform 0.3s ease-out;
 }