

.show {
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .hide {
    opacity: 0;
    transition: opacity 0.9s;
  }


  .normal{
    overflow-y: scroll !important;
  }

  .hidden{
    overflow: hidden !important;
  }


  *,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  

  
  .App{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .loader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


  section{
    height: 100%;
  }
  
  .page {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

